<!DOCTYPE html>
        <html>
            <meta charset="utf-8"/>
            <head>
                <title>主页</title>
            </head>
            <body>
<a href="/">我的博客</a>
<div>
	<ul >
		<li ><a href="/">首页</a></li>
		<li ><a href="/topic">文章</a></li>
		<li><a href="/login?exit=true">退出登录</a></li>
		<li><a href="/login">管理员登录</a></li>
		<li><a href="/topic/add">写博客</a></li>
	</ul>
</div>
<form action="/topic/add" method="post">
    标题:<input type="text" name="title"><br>
    预览内容:<input type="text" name="topicspreview"><br>
    具体内容:<textarea type="text" name="topicsinfo">请输入具体内容</textarea><br>
        
    <input type="submit" value="发布"><br>
</form>
</body>
</html>