<!DOCTYPE html>
        <html>
            <meta charset="utf-8"/>
            <head>
                <title>主页</title>
                <style>
                    ul
                    {
                    list-style-type:none;
                    margin:0;
                    padding:0;
                    overflow:hidden;
                    text-align: center;
                    }
                    li
                    {
                    float:left;
                    margin-left: 20px;
                    }
                        </style>
            </head>
            <body>
<a href="/">我的博客</a>
<div>
	<ul >
		<li ><a href="/">首页</a></li>
		<li ><a href="/topic">文章</a></li>
		<li><a href="/login?exit=true">退出登录</a></li>
		<li><a href="/login">管理员登录</a></li>
		<li><a href="/topic/add">写博客</a></li>
	</ul>
</div>
<br>
<br>
                <form>
                    <table align="center">
                        {{range .}}
						<tr>
                            <td>id:</td>
                            <td>{{.ID}}</td>
                        </tr>
                        <tr>
                            <td>username:</td>
                            <td>{{.Username}}</td>
                        </tr>
                        <tr>
                            <td>create_time:</td>
                            <td>{{.CreateTime}}</td>
                        </tr>
                        {{end}}
                    </table>
                </form>
            <body>
</html>