<!DOCTYPE html>
        <html>
            <meta charset="utf-8"/>
            <head>
                <title>修改页面</title>
            </head>
            <body>
<a href="/">我的博客</a>
<div>
	<ul >
		<li ><a href="/">首页</a></li>
		<li ><a href="/topic">文章</a></li>
		<li><a href="/login?exit=true">退出登录</a></li>
		<li><a href="/login">管理员登录</a></li>
		<li><a href="/topic/add">写博客</a></li>
	</ul>
</div>
<form action="/topic/modify" method="post">
    {{range .}}
    <input type="hidden" name="id" value="{{.ID}}">
    标题:<input type="text" name="title" value="{{.Title}}" ><br>
    预览内容:<input type="text" name="topicspreview" value="{{.TopicsPreview}}"><br>
    具体内容:<textarea type="text" name="topicsinfo">{{.TopicsInfo}}</textarea><br>
    {{end}}
    <input type="submit" value="发布"><br>
</form>
</body>
</html>